*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

.navbar{
    width: 100%;
    height: 15px;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #252529;
    position: fixed;
    z-index: 1000;
 }
 
 .logo{
     width: 120px;
     cursor: pointer;
     margin-left: 40px;
 }
 
 .menu-icon{
     width: 25px;
     cursor: pointer;
     display: none;
     border: 1px solid #009688;
 }
 
 nav{
     margin-right: 200px;
     margin-bottom: 20px;
     text-align: right;
     
 }
 
 nav ul li{
     list-style: none;
     display: inline-block;
     margin-right: 30px;
 }
 
 nav ul li a{
     text-decoration: none;
     text-transform: uppercase;
     color: #fff;
     font-size: 15px;
     position: relative;
 }
 
 nav ul li a::after{
     content: '';
     height: 3px;
     width: 0;
     background: #009688;
     position: absolute;
     left: 0;
     bottom: -10px;
     transition: 0.5s;
 }
 
 nav ul li a:hover::after{
     width: 100%;
 }

.post-content{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 60px;
}

.add-post{
    position: relative;
    display: flex;
    max-width: 600px;
    width: 100%;
    margin-top: 20vh;
    border: 2px solid darkcyan;
}

.left-side-post{
    width: 40%;
    background: darkcyan;
    text-align: center;
    display: flex;
}

.left-side-post img{
    width: 150px;
    height: 100px;
    margin-top: 100px;
}

.title-post{
    margin: auto;
    color: #fff;
    font-size: 40px;
}

.title-post a{
    text-decoration: none;
    color: darkred;
}

.right-side-post{
    width: 100%;
    padding: 5%;
    
}

.right-side-post h2{
    font-size: 20px;
    margin-bottom: 10px;
}

.right-side-post input{
    width: 100%;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    outline: none;
    height: 40px;
    margin-bottom: 20px;
    padding-left: 5px;  
}

.right-side-post .signin{
    width: 100%;
    height: 40px;
    border: none;
    outline: none;
    background: #F57F11;
    border-radius: 10px;
    margin-top: 20px;
}

.right-side-post .signup{
    background: none;
    outline: none;
    border: 1px solid #F57F11;
    border-radius: 10px;
    margin-top: 10px;
    width: 100%;
    height: 40px;
    color: #000;
    font-weight: 600;
}

.right-side-post .signup a{
    text-decoration: none;
    color: #000;
    font-size: 14px;
    font-weight: 600;
}

.right-side-post p{
    text-align: center;
    margin-top: 10px;
    font-weight: 600;
}

.description input{
    width: 300px;
}

.row-post{
    display: flex;
    justify-content: space-between;
}

/*------------footer-----------------------*/
footer{
    width: 100%;
    background: #000;
}

.footer-container{
    max-width: 1080px;
    margin: auto;
    display: flex;
    padding: 25px;
}

footer h4{
    color: #fff;
    text-align: center;
    padding-bottom: 20px;
    padding-top: 10px;
}

.left-box{
    min-width: 250px;
    flex-basis: 35%;
    margin-right: 40px;
}

.left-box h2{
    color: #fff;
    font-weight: 600;
    padding-bottom: 5px;
    border-bottom: 1px solid #009688;
    margin-bottom: 20px;
}

.left-content p{
    color: #ccc;
    line-height: 25px;
}

.center-box{
    min-width: 250px;
    flex-basis: 25%;
    margin-right: 40px;
}

.center-box h2{
    color: #fff;
    font-weight: 600;
    padding-bottom: 5px;
    border-bottom: 1px solid #009688;
}

.center-content{
    margin-top: 20px;
}

.center-content ul li{
    list-style: none;
    color: #fff;
    margin-bottom: 30px;
    font-size: 18px;
}

.right-box{
    min-width: 400px;
}

.right-box h2{
    color: #fff;
    font-weight: 600;
    padding-bottom: 5px;
    border-bottom: 1px solid #009688;
}

.right-content{
    margin-top: 20px;
}

.right-content form h3{
    color: #fff;
    margin-bottom: 10px;
}

.right-content form input{
    width: 100%;
    height: 40px;
    padding-left: 5px;
    border: none;
    background: #ccc;
    outline: none;
    margin-bottom: 10px;
}

.footer-button{
   background: #009688;
   border: none;
   outline: none;
   width: 100%;
   height: 40px;
   margin-top: 20px;
   margin-left: 0;
   margin-right: 0;
   border-radius: 0;
}

@media only screen and (max-width:700px){
    nav ul{
        width: 100%;
        background: linear-gradient(#ff54a2, #ff575a);
        position: absolute;
        top: 75px;
        right: 0;
        z-index: 20000;
    }

    nav ul li{
        display: block;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    nav ul li a{
        color: #fff;
    }

    .menu-icon{
        display: block;
    }

    .logo{
        width: 100px;
        margin-left: 3px;
    }

    #menuList{
        overflow: hidden;
        transition: 0.5s;
    }
    
    .title-login{
        font-size: 30px;
    }

    .right-side-login input{
        height: 30px;
    }
    .footer-container{
        flex-direction: column;
    }

    .right-box{
        margin-bottom: 10px;
        min-width: 300px;
    }

    .right-content form h3{
        font-size: 18px;
    }

    .right-content form input{
        width: 90%;
    }

    .footer-button{
        width: 90%;
    }

    .left-box{
        margin-bottom: 20px;
    }

    .left-content p{
        font-size: 14px;
    }

    .center-box{
        margin-bottom: 20px;
    }

    .center-content ul li{
        font-size: 16px;
    }
}