*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.full{
    background: darkgray;
}

.container{
    width: 100%;
    min-height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url('../images/banner.jpg');
    background-size: cover;
    background-position: center;
}

.navbar{
   width: 100%;
   margin: auto;
   padding: 35px 0;
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.logo{
    width: 120px;
    cursor: pointer;
    margin-left: 40px;
}

.menu-icon{
    width: 25px;
    cursor: pointer;
    display: none;
    border: 1px solid #009688;
}

nav{
    margin-right: 200px;
    text-align: right;
    
}

nav ul li{
    list-style: none;
    display: inline-block;
    margin-right: 30px;
}

nav ul li a{
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    font-size: 15px;
    position: relative;
}

nav ul li a::after{
    content: '';
    height: 3px;
    width: 0;
    background: #009688;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

nav ul li a:hover::after{
    width: 100%;
}

.content{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: #fff;   
}

.content h1{
    font-size: 70px;
    margin-top: 80px;
}

.content p{
    margin: 20px auto;
    font-weight: 120;
    line-height: 25px;
}

button{
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #009688;
    background: transparent;
    color: #fff;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

span{
    background: #009688;
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}

button:hover span{
    width: 100%;
}

button:hover{
    border: none;
}

/*----------------------features items-------------*/

.features{
    margin: 180px 0;
}

.features-row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.features-container{
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.features-col{
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
}

.features-col img{
    width: 100%;
    transition: 0.5s;
}

.features-col img:hover{
    width: 95%;
}

/*------------------------------most choose------------------------*/

.most-choose{
    margin: 100px 0;
    padding: 30px;
    background: #252529;
}

.most-choose-container{
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.most-choose-container h1{
    margin-bottom: 20px;
    padding-bottom: 10px;
    color: #fff;
    border-bottom: 1px solid #009688;
    text-align: center;
}

.most-choose-row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.most-choose-col{
    flex-basis: 40%;
    min-width: 250px;
    margin-bottom: 30px;
}

.most-choose-col img{
    width: 100%;
}

/*------------------------plan event---------------*/

.plan-event{
    margin: 20px 0;
    padding: 30px;
}

.plan-event-container{
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.plan-event-row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.plan-event-col{
    flex-basis: 50%;
    min-width: 250px;
    margin-bottom: 30px;
}

.plan-event-col img{
    width: 100%;
    height: 600px;
}

.plan-event-col h1{
    margin-bottom: 40px;
    color: #000;
    font-size: 55px;
    font-weight: 800;
}

.plan-event-col p{
    line-height: 30px;
    margin-bottom: 20px;
}
.plan{
    width: 250px;
    background: #009688;
    border: none;
    color: #fff;
    border-radius: 10px;
    font-size: 16px;
}

/*------------------------Top Rated-----------------*/

.top-rated {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 15px 0;
}

.top-rated-container{
   /* background: #fff;*/
}

.top-rated-container h1{
    text-align: center;
    font-size: 55px;
}

.top-rated .top-rated-card {
    max-width: 320px;
    background: #fff;
    width: 100%;
    overflow: hidden;
    height: 550px;
    box-shadow: 0 0 5px #ccc;
    padding: 15px;
    margin: 15px;
    cursor: pointer;
}

.top-rated-card img {
    width: 100%;
    height: 100%;
    max-height: 320px;
    display: block;
    object-fit: cover;
}

.top-rated-card .box {
    margin: 15px 0;
}

.top-rated-card .box h3 {
    text-transform: uppercase;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.top-rated-card .box p {
    margin: 10px 0;
    line-height: 1.5;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    height: 70px;
}

.top-rated-card .box h4 {
    color: crimson;
    margin-bottom: 20px;
}

.top-rated-card .box button {
    width: 100%;
    border: none;
    outline: none;
    background: #009688;
    color: white;
    text-align: center;
    padding: 10px 0;
    margin: 10px 0;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 2px;
}


@media only screen and (max-width:700px){
    nav ul{
        width: 100%;
        background: linear-gradient(#ff54a2, #ff575a);
        position: absolute;
        top: 75px;
        right: 0;
        z-index: 20000;
    }

    nav ul li{
        display: block;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    nav ul li a{
        color: #fff;
    }

    .menu-icon{
        display: block;
    }

    .logo{
        width: 100px;
        margin-left: 3px;
    }

    #menuList{
        overflow: hidden;
        transition: 0.5s;
    }

    .content h1{
        font-size: 50px;
    }

    .content p{
        margin-left: 20px;
        margin-right: 20px;
    }
}
