*{
    margin: 0;
    padding: 0;

}
body{
     background-image:url(images/latestback.jpg);
     background:cover;

    font-family: sans-serif;
    margin-top: 0px;
}



.adform{

    width: 800px;
    background-color: rgb(0,0,0,0.6);
    margin: auto;
    padding: 10px 0px 10px 0px;
    text-align: center;
    border-radius: 15px 15px 0px 0px;
    color: rgb(255, 255, 255);
    margin-top: 50px;

}
.Pane{

    background-color:rgb(0,0,0,0.4);
    width: 800px;
    margin: auto;

}
form{
padding: 15px;

}
.name{

    margin-left: 25px;
    margin-top: 30px;
    color: white;
}
.title{

    position: relative;
    left: 250px;
    top: -30px;
    line-height: 30px;
    border-radius: 2px;
    padding: 0px 5px;
    font-size: 16px;
}
.form-control{
    position: relative;
    left: 250px;
    top: -25px;
    line-height: 30px;
    border-radius: 2px;
    padding: 0px 5px;
    font-size: 16px;
}
.inputfile{
    position: relative;
    left: 250px;
    top: -27px;
    line-height: 30px;
    border-radius: 2px;
    padding: 0px 5px;
    font-size: 16px;
}
.contact{
    position: relative;
    left: 250px;
    top: -30px;
    line-height: 30px;
    border-radius: 2px;
    padding: 0px 5px;
    font-size: 16px;
}
.description{
    position: relative;
    left: 250px;
    top: -30px;
    line-height: 30px;
    border-radius: 2px;
    padding: 0px 5px;
    font-size: 16px;
}
.address{
    position: relative;
    left: 250px;
    top: -30px;
    line-height: 30px;
    border-radius: 2px;
    padding: 0px 5px;
    font-size: 16px;

}
button{
    background-color: rgb(3, 165, 206);
    display: block;
    margin-left: 250px;
    text-align: center;
    border-radius: 8px;
    padding: 14px 60px;
    outline: none;
    color: white;
    cursor: pointer;
    transition: 0.25px;
    font-size: 16px;
}
.errmsg{

    color: rgb(124, 29, 29);
    margin-left: 22px;
}
.header{

    background-color: red;
}