.register{
    max-width: 500px;
    border: 2px solid rgb(3, 165, 206);
    border-radius: 5px;
    padding: 30px;
    margin: 50px auto;
}

.register h2{
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #555;
}

.register form input,
.register form button{
    width: 100%;
    border-radius: 5px;
    height: 40px;
    margin: 20px 0;
    padding: 0 5px;
    outline: rgb(3, 165, 206);
    border: 1px solid rgb(3, 165, 206);
}

.row_btn{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.register form button{
    width: 150px;
    background: rgb(3, 165, 206);
    text-transform: uppercase;
    letter-spacing: 2px;
    border-radius: 10px;
    color: white;
    cursor: pointer;
}

.register form a{
    color: orange;
    letter-spacing: 1.3px;
    text-transform: uppercase;
    text-decoration: none;
    
}

/* nav */

.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
}

nav{
    flex: 1;
    text-align: right;
}

nav ul{
    display: inline-block;
    list-style-type: none;
}

nav ul li{
    display: inline-block;
    margin-right: 20px;
}

nav ul li a{
    text-decoration: none;
    color: #fff;
}

.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.header{
    background: #252529;
}

.header a{
    text-decoration: none;
    color: #fff;
}

.header a:hover{
    color: orange;
}

nav ul li a:hover{
    color: orange;
}


@media only screen and (max-width:800px){
    nav ul{
        position: absolute;
        top: 70px;
        left: 0;
        background: #333;
        width: 100%;
        overflow: hidden;
        transition: max-height 0.5s;
    }

    nav ul li{
        display: block;
        margin-right: 50px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    nav ul li a{
        color:#fff;
    }

    .menu-icon{
        display: block;
        cursor: pointer;
    }
}