*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box ;
}

.product-full{
    background: #F2F6FC;
    overflow: hidden;
    width: 100%;
    max-width: 1280px;
}

.scroll-button{
    font-size: 3rem;
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;

    color: #0F69F3;
    z-index: 1000;
}

.scroll-button:hover{
    color: #6149DC;
}

.scroll-button .active{
    bottom: 32px;
    pointer-events: auto;
    opacity: 1;
}

.navbar{
    width: 100%;
    height: 70px;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #00214E;
    position: fixed;
    z-index: 1000;
 }

 .logo{
     width: 120px;
     cursor: pointer;
     margin-left: 40px;
 }

 .menu-icon{
     width: 30px;
     cursor: pointer;
     display: none;
     margin-right: 20px;
 }

 nav{
     margin-right: 200px;
     margin-bottom: 20px;
     text-align: right;
 }

 nav ul li{
     list-style: none;
     display: inline-block;
     margin-right: 30px;
 }

 nav ul li a{
     text-decoration: none;
     text-transform: uppercase;
     color: #fff;
     font-size: 15px;
     position: relative;
 }

 nav ul li a::after{
     content: '';
     height: 3px;
     width: 0;
     background: #D8E7FC;
     position: absolute;
     left: 0;
     bottom: -10px;
     transition: 0.5s;
 }

 nav ul li a:hover::after{
     width: 100%;
 }

.products {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 15px 0;
}

/*----------------products--------------*/
.product-container{
   padding-top: 100px;
   margin: auto;
}

.product-container h1{
    text-align: center;
    font-size: 55px;
}

.products .product-card {
    max-width: 360px;
    background: #fff;
    width: 100%;
    overflow: hidden;
     height: 550px;
    box-shadow: 0 0 5px #ccc;
    padding: 15px;
    margin: 15px;
    cursor: pointer;
}


.product-card img {
    width: 100%;
    height: 100%;
    max-height: 330px;
    max-width: 320px;
    display: block;
    object-fit: cover;
}

.product-card .box {
    margin: 15px 0;
}

.product-card .box h3 {
    text-transform: uppercase;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: center;
}

.product-card .box p {
    margin: 10px 0;
    line-height: 1.5;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    height: 50px;
    width: 330px;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.product-card .box h4 {
    color: crimson;
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: center;
}
.product-card span.more{

    display: none;
}
.product-card span.dots{

    color: white;
}

.product-card .box button {
    width: 100%;
    border: none;
    outline: none;
    background: #0F69F3;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    margin: 10px 0;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.product-top{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.product-top select{
    height: 40px;
    width: 160px;
    border: none;
    outline: none;
    background: #ffffff;
    border-radius: 5px;
    padding-left: 10px;
    margin-left: 50px;
}
.product-top button{
    display: block;
    background-color: #0F69F3;
    width: 80px;
    height: 35px;
    border-radius: 20px;
    cursor: pointer;
    color: white;

}

.product-top h1{
    font-size: 45px;
    font-weight: 600;
    border-bottom: 3px solid #0F69F3;
}

.product-top p{
    font-size: 18px;
    font-weight: 400;
}


/*---------------------footer-------------------*/

footer{
    width: 100%;
    background: #0c0047;
}

.footer-container{
    max-width: 1280px;
    margin: auto;
    display: flex;
    padding: 25px;
}

footer h4{
    color: #fff;
    text-align: center;
    padding-bottom: 20px;
    padding-top: 10px;
}

.left-box{
    min-width: 250px;
    flex-basis: 35%;
    margin-right: 40px;
}

.left-box h2{
    color: #fff;
    font-weight: 600;
    padding-bottom: 5px;
    border-bottom: 1px solid #D8E7FC;
    margin-bottom: 20px;
}

.left-content p{
    color: #ccc;
    line-height: 25px;
}

.center-box{
    min-width: 250px;
    flex-basis: 25%;
    margin-right: 40px;
}

.center-box h2{
    color: #fff;
    font-weight: 600;
    padding-bottom: 5px;
    border-bottom: 1px solid #D8E7FC;
}

.center-content{
    margin-top: 20px;
}

.center-content ul li{
    list-style: none;
    color: #fff;
    margin-bottom: 30px;
    font-size: 18px;
}

.right-box{
    min-width: 400px;
}

.right-box h2{
    color: #fff;
    font-weight: 600;
    padding-bottom: 5px;
    border-bottom: 1px solid #D8E7FC;
}

.right-content{
    margin-top: 20px;
}

.right-content form h3{
    color: #fff;
    margin-bottom: 10px;
}

.right-content form input{
    width: 100%;
    height: 40px;
    padding-left: 5px;
    border: none;
    background: #F2F6FC;
    outline: none;
    margin-bottom: 10px;
}

.footer-button{
   background: #6149DC;
   border: none;
   outline: none;
   width: 100%;
   height: 40px;
   margin-left: 0;
   margin-right: 0;
   border-radius: 0;
   margin-top: 20px;
}

.foot-icons{
    display: flex;
    font-size: 2rem;
}

.foot-icons i{
    margin-right: 30px;
    color: #fff;
}

.foot-icons i:hover{
    color: crimson;
}


@media only screen and (max-width:700px){
    nav ul{
        width: 100%;
        background: #00214E;
        position: absolute;
        top: 75px;
        right: 0;
        z-index: 20000;
    }

    nav ul li{
        display: block;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    nav ul li a{
        color: #fff;
    }

    .menu-icon{
        display: block;
    }

    .logo{

        margin-left: 3px;
    }

    #menuList{
        overflow: hidden;
        transition: 0.5s;
    }

    .content h1{
        font-size: 50px;
    }

    .content p{
        margin-left: 20px;
        margin-right: 20px;
    }

    .footer-container{
        flex-direction: column;
    }

    .right-box{
        margin-bottom: 10px;
        min-width: 300px;
    }

    .right-content form h3{
        font-size: 18px;
    }

    /*.right-content form input{
        width: 90%;
    }

    .footer-button{
        width: 90%;
    }*/

    .left-box{
        margin-bottom: 20px;
    }

    .left-content p{
        font-size: 14px;
    }

    .center-box{
        margin-bottom: 20px;
    }

    .center-content ul li{
        font-size: 16px;
    }


    .product-top h1{
        font-size: 25px;
        font-weight: 600;
        border-bottom: 3px solid #0F69F3;
    }

    .product-top p{
        font-size: 12px;
        font-weight: 400;
    }

    .product-top select{
        width: 80px;
    }
    .scroll-button{
        font-size: 2rem;
    }
}