/*--------nav-------*/
*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box ;
}

.product-full{
    background: #F2F6FC;
    overflow: hidden;
    width: 100%;
    max-width: 1280px;
}

.scroll-button{
    font-size: 3rem;
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
    
    color: #0F69F3;
    z-index: 1000;
}

.scroll-button:hover{
    color: #6149DC;
}

.scroll-button .active{
    bottom: 32px;
    pointer-events: auto;
    opacity: 1;
}

.navbar{
    width: 100%;
    height: 25px;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #0F69F3;
    position: fixed;
    z-index: 1000;
 }
 
 .logo{
     width: 120px;
     cursor: pointer;
     margin-left: 40px;
 }
 
 .menu-icon{
     width: 30px;
     cursor: pointer;
     display: none;
     margin-right: 20px;
 }
 
 nav{
     margin-right: 200px;
     margin-bottom: 20px;
     text-align: right;
 }
 
 nav ul li{
     list-style: none;
     display: inline-block;
     margin-right: 30px;
 }
 
 nav ul li a{
     text-decoration: none;
     text-transform: uppercase;
     color: #fff;
     font-size: 15px;
     position: relative;
 }
 
 nav ul li a::after{
     content: '';
     height: 3px;
     width: 0;
     background: #D8E7FC;
     position: absolute;
     left: 0;
     bottom: -10px;
     transition: 0.5s;
 }
 
 nav ul li a:hover::after{
     width: 100%;
 }


/*----------cart-------*/
.cart{
    
    width: 100%;
    padding: 10px;
}

.cart-table{
    margin-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

table{
    width: 100%;
}

table caption{
    font-size: 37px;
    margin-bottom: 20px;
}

table tr{
    border: 10px solid #000;
    background-color: #dee1ec;
}

table th{
    font-size: 26px;
    padding: 10px;
    text-transform: uppercase;
}

table td{
    padding: 10px;
    text-align: center;
}

table td img{
    max-width: 100px;
}

.cart-del{
    width: 100px;
    height: 40px;
    background-color: #d72323;
    border: none;
    border-radius: 5px;
    color: #fff;
}

/*----------footer-------------*/
footer{
    width: 100%;
    background: #0c0047;
}

.footer-container{
    width: 100%;
    margin: auto;
    display: flex;
    padding: 25px;
}

footer h4{
    color: #fff;
    text-align: center;
    padding-bottom: 20px;
    padding-top: 10px;
}

.left-box{
    min-width: 250px;
    flex-basis: 35%;
    margin-right: 40px;
}

.left-box h2{
    color: #fff;
    font-weight: 600;
    padding-bottom: 5px;
    border-bottom: 1px solid #D8E7FC;
    margin-bottom: 20px;
}

.left-content p{
    color: #ccc;
    line-height: 25px;
}

.center-box{
    min-width: 250px;
    flex-basis: 25%;
    margin-right: 40px;
}

.center-box h2{
    color: #fff;
    font-weight: 600;
    padding-bottom: 5px;
    border-bottom: 1px solid #D8E7FC;
}

.center-content{
    margin-top: 20px;
}

.center-content ul li{
    list-style: none;
    color: #fff;
    margin-bottom: 30px;
    font-size: 18px;
}

.right-box{
    min-width: 400px;
}

.right-box h2{
    color: #fff;
    font-weight: 600;
    padding-bottom: 5px;
    border-bottom: 1px solid #D8E7FC;
}

.right-content{
    margin-top: 20px;
}

.right-content form h3{
    color: #fff;
    margin-bottom: 10px;
}

.right-content form input{
    width: 100%;
    height: 40px;
    padding-left: 5px;
    border: none;
    background: #F2F6FC;
    outline: none;
    margin-bottom: 10px;
}

.footer-button{
   background: #6149DC;
   border: none;
   outline: none;
   width: 100%;
   height: 40px;
   margin-left: 0;
   margin-right: 0;
   border-radius: 0;
   margin-top: 20px;
}

.foot-icons{
    display: flex;
    font-size: 2rem;
}

.foot-icons i{
    margin-right: 30px;
    color: #fff;
}

.foot-icons i:hover{
    color: crimson;
}


@media screen and (max-width:700px){
    nav ul{
        width: 100%;
        background: #0F69F3;
        position: absolute;
        top: 75px;
        right: 0;
        z-index: 20000;
    }

    nav ul li{
        display: block;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    nav ul li a{
        color: #fff;
    }

    .menu-icon{
        display: block;
    }

    .logo{
        
        margin-left: 3px;
    }

    #menuList{
        overflow: hidden;
        transition: 0.5s;
    }

    .content h1{
        font-size: 50px;
    }

    .content p{
        margin-left: 20px;
        margin-right: 20px;
    }

    .footer-container{
        flex-direction: column;
    }

    .right-box{
        margin-bottom: 10px;
        min-width: 300px;
    }

    .right-content form h3{
        font-size: 18px;
    }

    /*.right-content form input{
        width: 90%;
    }

    .footer-button{
        width: 90%;
    }*/

    .left-box{
        margin-bottom: 20px;
    }

    .left-content p{
        font-size: 14px;
    }

    .center-box{
        margin-bottom: 20px;
    }

    .center-content ul li{
        font-size: 16px;
    }
    /*----------cart---------*/
    .cart{
        padding: 5px;
    }
    
    table th{
        font-size: 12px;
        padding: 5px;
    }

    table td{
        padding: 5px;
        font-size: 8px;
    }

    table td img{
        width: 40px;
    }

    .cart-del{
        width: 40px;
        height: 20px;
        font-size: 8px;
        text-align: center;
    }
}